/**/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
  font-weight: 300; }

body,
html {
  height: 100vh;
  width: 100vw; }

body {
  overflow: hidden;
  background-color: #151019; }

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column; }
  .search .metodes {
    pointer-events: none;
    margin-bottom: 32px;
    justify-self: flex-end;
    cursor: default; }
    .search .metodes div {
      pointer-events: none;
      position: relative; }
      .search .metodes div .metode {
        color: #ffffff11;
        font-size: 24px;
        text-align: center;
        margin: 16px;
        padding: 16px;
        pointer-events: all;
        cursor: pointer; }
        .search .metodes div .metode:hover {
          color: #ffffff77; }
        .search .metodes div .metode.active {
          color: #ffffffaa;
          font-weight: 400; }
  .search #bar {
    height: 70%;
    width: 70vw;
    outline: none;
    border: none;
    font-size: 10rem;
    text-align: center;
    background-color: transparent;
    color: #fff; }

.classroom-links {
  position: absolute;
  right: 25px; }
  .classroom-links li {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    margin: 10px 0; }
    .classroom-links li a {
      text-decoration: none; }
    .classroom-links li .title {
      color: #ffffff78;
      padding-right: 10px;
      font-weight: lighter;
      font-family: system-ui;
      letter-spacing: 2px; }
    .classroom-links li .icon {
      height: 38px;
      width: 38px;
      border-radius: 50%;
      background-color: #151019ff;
      background-image: url(./assets/book.svg);
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer; }
    .classroom-links li:hover .icon {
      background-image: url(./assets/book-open.svg); }

.side-links {
  position: absolute;
  left: 25px; }
  .side-links li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    margin: 10px 0;
    position: relative; }
    .side-links li a {
      text-decoration: none; }
    .side-links li .title {
      color: #ffffff78;
      padding-left: 10px;
      font-weight: lighter;
      font-family: system-ui;
      letter-spacing: 2px; }
    .side-links li .icon {
      height: 38px;
      width: 38px;
      border-radius: 50%;
      background-color: #151019ff;
      background-image: url(./assets/link.svg);
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer; }
    .side-links li:hover .icon {
      background-image: url(./assets/external-link.svg); }
    .side-links li .delete-button {
      height: 15px;
      width: 15px;
      position: absolute;
      top: -5px;
      left: -5px;
      align-items: center;
      justify-content: center;
      background: #ffffff00;
      border: none;
      outline: none;
      color: white;
      display: none;
      cursor: pointer; }
      .side-links li .delete-button img {
        height: 16px;
        width: 16px; }
    .side-links li:hover .delete-button {
      display: flex; }

.new-link-area .add-link {
  position: absolute;
  display: none;
  cursor: default;
  left: 80px;
  bottom: 25px; }
  .new-link-area .add-link.on {
    display: flex;
    flex-direction: column; }
  .new-link-area .add-link input,
  .new-link-area .add-link button {
    background-color: transparent;
    border-radius: 50px;
    border: 2px solid #ffffff3b;
    color: #ffffff78;
    outline: none;
    height: 32px;
    padding: 0 15px;
    margin: 5px 0; }
  .new-link-area .add-link button:hover {
    background-color: #ffffff11;
    color: #fff; }
  .new-link-area .add-link button:active {
    background-color: #ffffff3b;
    color: #fff; }
.new-link-area .add-link-button {
  outline: none;
  position: absolute;
  left: 25px;
  bottom: 25px;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background-color: #151019ff;
  background-image: url(./assets/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer; }

.modal-overlay.on {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center; }
.modal-overlay .modal {
  display: none; }
  .modal-overlay .modal.on {
    background-color: #110d15;
    padding: 25px;
    display: block;
    z-index: 1000; }

.open-modal-button {
  outline: none;
  position: absolute;
  left: 25px;
  top: 25px;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background-color: #151019ff;
  background-image: url(./assets/settings.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 1001; }

/*# sourceMappingURL=style.css.map */
